

#display {
    width: 400px;
    height: 400px;
    border: 2px solid;
    
}

.rows {
    display: flex;
}

.white {
    display: flex;
    justify-content: center;
    background-color: white !important;
    align-items: center;
}

.rows>div {
    width: 50px;
    height: 50px;
    background-color: black;
   
}

.shashka  {
    width: 40px !important;
    height: 40px !important;
    background-color: rgb(241, 125, 29) !important;
    border-radius: 50px;
    transform: scale(0.8);
    border:3px solid
}

.shashka:hover {
    background-color: rgb(112, 61, 61) !important;

}


.hidden {
    background-color: rgba(235, 235, 235, 0) !important;
    border: none;
}

.enemy {
    background-color: rgb(248, 13, 13) !important;
}

.enemy:hover {
    background-color: rgb(250, 115, 115) !important;
}

.active {
    background-color: rgb(92, 92, 92) !important;
}

.hover {
    background-color: antiquewhite;
}


